<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <div class="container mt-5 bg-light rounded">
      <section class="m-4 p-4">
        <div class="d-line">
          <a class="btn btn-secondary rounded-pill" href="/"> Volver </a>
          <h1 class="text-danger my-2">Vista Productos</h1>
        </div>
        <%- include("../partials/table.ejs") %>
      </section>
    </div>
    <%- include("../partials/script.ejs") %>
  </body>
</html>
