<div class="form-group">
  <label>Nombre</label>
  <input type="text" class="form-control" name="name" id="product-name" />
</div>
<div class="form-group">
  <label>Precio</label>
  <input type="number" class="form-control" name="price" id="product-price" />
</div>
<div class="form-group">
  <label>Foto URL</label>
  <input type="text" class="form-control" name="image" id="product-image" />
</div>
<button
  type="submit"
  onclick="sendProduct()"
  class="btn btn-success col-2 my-3"
>
  Agregar
</button>
