<% if (products.length === 0 ) {%>
<div class="alert alert-warning rounded text-center m-4">
  No se encontraron productos.
</div>
<% } else { %>
<table
  class="table table-dark table-hover px-5 mb-3"
  id="products-table"
></table>
<% } %>
